@page "/aboutrazor.html"
@model HelloWorld.Pages.RazorModel
@{
    Layout = "_Layout";
}

<h1>Giới thiệu về razor</h1>
<p>
    Razor là 1 template engineer trong .Net , nó là TEMPLATE ENGINEER mặc định của ASP.NET MVC
     
</p>
