
@{
    ViewBag.Title = "ThongTinTaiKhoan";
}

<h2>

    <span>Chào bạn</span> <font color="red">@ViewBag.HoTen</font><br />
    <span>Bạn đã đăng nhập với tài khoản</span> <font color="red">@ViewBag.TaiKhoan</font>

</h2>

